<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>GRADUATION THESIS</h3>
            <p>
              Đường 3/2 <br />
              Phường Xuân Khánh, Quận Ninh Kiều, Cần Thơ<br /><br />
              <strong>SĐT:</strong> 0359300359<br />
              <strong>Email:</strong> ThesisTrack@gmail.com<br />
            </p>
            <div class="social-links mt-3">
              <!-- <a href="#" class="zalo"><i class="bx bxl-zalo"></i></a> -->
              <a href="https://www.facebook.com/huybinh.nguyen.3720/" class="facebook"><i
                  class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/huy_binh_01/?hl=en" class="instagram"><i
                  class="bx bxl-instagram"></i></a>
              <a href="https://t.me/NguyenHuyBinh09" class="telegram"><i class="bx bxl-telegram"></i></a>
              <a href="mailto:your-email@gmail.com" class="gmail"><i class="bx bx-envelope"></i></a>
            </div>

          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Liên kết hữu ích</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Trang chủ</a></li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Về chúng tôi</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Dịch vụ của chúng tôi</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Thiết kế web</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Phát triển web</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Thông tin bản tin của chúng tôi</h4>
          <p>The "Graduation Thesis Management Software System" serves as a vital link between students and instructors,
            facilitating student registration for advisory professors, thesis topic registration, arrangement of
            presentation schedules, and student result management. It also ensures seamless communication by notifying
            users through email about important updates and information.</p>
          <form action="" method="post">
            <input type="email" name="email" /><input type="submit" value="Đăng ký" />
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Bản quyền <strong><span class="thesis">GRADUATION THESIS</span></strong>. Đã đăng ký bản quyền
    </div>
  </div>
</footer>
<!-- End Footer -->