<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>THESISTRACK</h3>
            <p>
              Đường 3/2 <br />
              Phường Xuân Khánh, Quận Ninh Kiều, Cần Thơ<br /><br />
              <strong>SĐT:</strong> 0359300359<br />
              <strong>Email:</strong> ThesisTrack@gmail.com<br />
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Liên kết hữu ích</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Trang chủ</a></li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Về chúng tôi</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Dịch vụ</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Điều khoản dịch vụ</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Chính sách bảo mật</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Dịch vụ của chúng tôi</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Thiết kế web</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Phát triển web</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Quản lý sản phẩm</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Thiết kế đồ họa</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Thông tin bản tin của chúng tôi</h4>
          <p>
            Tamen quem nulla quae legam multos aute sint culpa legam noster
            magna
          </p>
          <form action="" method="post">
            <input type="email" name="email" /><input type="submit" value="Đăng ký" />
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Bản quyền <strong><span class="thesis">THESISTRACK</span></strong>. Đã đăng ký bản quyền
    </div>
  </div>
</footer>
<!-- End Footer -->