<app-header></app-header>
<!-- đăng ký đề tài -->

<body>
    <div class=topp>
        <!-- <div class="top"></div> -->

        <div class="info">
            <div class="header">
                <h3 style="font-weight: bold">
                    Thông tin sinh viên
                </h3>
            </div>
            <table style="background-color: white" *ngIf="student">
                <tr>
                    <td class="title">Mã số sinh viên:</td>
                    <td>{{ student.numberStudent }}</td>
                </tr>
                <tr>
                    <td class="title">Tên:</td>
                    <td>{{ student.name }}</td>
                </tr>
                <tr>
                    <td class="title">Ngày sinh:</td>
                    <td>{{ student.birthday }}</td>
                </tr>
                <tr>
                    <td class="title">Giới tính:</td>
                    <td>{{ student.gender === 1 ? 'Nam' : 'Nữ' }}</td>
                </tr>
                <tr>
                    <td class="title">Lớp học:</td>
                    <td>{{ student.classroom }}</td>
                </tr>
                <tr>
                    <td class="title">Ngành:</td>
                    <td>{{ student.major }}</td>
                </tr>
                <tr>
                    <td>Đề tài: </td>
                    <td>Hệ thống thực hiện luận văn tốt nghiệp</td>
                </tr>
                <tr>
                    <td>Kết quả: </td>
                    <td></td>


                </tr>
                <tr>
                    <td>
                        <a style="color: rgb(247, 183, 65); font-weight: bold;">Xem chi tiết</a>
                    </td>
                    <td>
                        <select>
                            <option value="1">Biên bản hội đồng chấm luận văn</option>
                            <option value="2">Phiếu chấm điểm của Chủ Tịch hội đồng</option>
                            <option value="3">Phiếu chấm điểm của Hội đồng phản biện</option>
                            <option value="4">Phiếu chấm điểm của Thư ký</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>

        <!-- Sử dụng form-> formGroup -> có dữ liệu -> onSubmit -->

        <div class="register_topic">
            <form>
                <h4>Đăng ký giảng viên hướng dẫn</h4>
                <div *ngIf="semester">
                    <label for="">Học kỳ {{semester.semester}}, năm học: {{semester.schoolYear}}</label>
                </div>
                <div class="semester">
                    <div *ngIf="student">
                        <label for="toggleLabel">Chuyên ngành</label>
                        <input type="text" [value]="student.major" disabled>
                    </div>
                    <div>
                        <label for="teacherSelect">Chọn giảng viên hướng dẫn</label>
                        <select name="teacherSelect" id="teacherSelect" [(ngModel)]="teacherId">
                            <!-- <option value="" disabled selected hidden>Chọn giảng viên</option> -->
                            <option *ngFor="let teacher of teachers" [value]="teacher.id">{{ teacher.name }}</option>
                        </select>
                        <section>
                            <label for="toggleLabel">Điểm trung binh tích lũy</label>
                            <input type="text" placeholder="Điểm trung bình tích lũy của bạn" class="custom-input"
                                id="mark" name="mark" [(ngModel)]="mark">
                        </section>

                    </div>
                    <button (click)="registerTeacher()">Gửi</button>
                </div>
            </form>
        </div>

    </div>
    <div >

        <div class="register_topic">
            <h4>Lịch sử đăng ký giảng viên</h4>
            <div class="text-muted">
                Lưu ý: Bạn có thể đăng ký nhiều giảng viên khi chờ xác nhận. Nếu có 1 giảng viên nào đó xác nhận, thì các đăng ký khác sẽ bị hủy
            </div>
            <table style="background-color: white">
                <thead>
                    <th>Giảng viên</th>
                    <th>Khoa</th>
                    <th>Trạng thái</th>
                    <th>Phản hồi từ GV</th>
                </thead>
                <tbody>
                    <tr *ngFor="let r of register;index as i">
                        <td>{{r.teacher.name}}</td>
                        <td>{{r.teacher.faculty.name}}</td>
                        <td>
                            <div *ngIf="r.status == 1">Đã chập nhận</div>
                            <div *ngIf="r.status == 0">Chờ xác nhận</div>
                            <div *ngIf="r.status == 2">Đã bị hủy</div>
                        </td>
                        <td>{{r.note}}</td>
                    </tr>
                </tbody>
                
            </table> 
        </div>

    </div>


    
</body>
<app-footer></app-footer>