<app-header></app-header>

<body>
    <div class="module">
        <div class="hocphan">
            <div class="semester">
                <label for="">Học kỳ:</label>
                <select id="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <!-- Thêm các tùy chọn khác cho học kỳ tại đây -->
                </select>
                <label for="year">Năm học:</label>
                <select name="" id="">
                    <option value="1">Năm 2022 - 2023</option>
                    <option value="2">Năm 2023 - 2024</option>
                </select>
            </div>

            <!-- Tìm kiếm học phần -->
            <div class="search">
                <label for="course-code">Mã học phần:</label>
                <input type="text" id="course-code">
                <button>Tìm</button>
            </div>
            <!-- <p class="container">_______________________</p> -->
            <!-- Thông tin học phần -->
            <div class="course-info">
                <p><b>Tên học phần: </b></p>
                <p><b>Tín chỉ: </b>.... tín chỉ.</p>
            </div>
        </div>
    </div>
        <h1>Danh mục học phần</h1>
        <table>
            <tr>
                <th>STT</th>
                <th>Ký hiệu</th>
                <th>Mã học phần</th>
                <th>Sĩ số</th>
                <th>Sĩ số còn lại</th>
                <th>Tuần học</th>
                <th>Tên học phần</th>
                <th>Lớp học phần</th>
                <th>Thao tác</th>
            </tr>
            <tr>
                <td>1</td>
                <td>01</td>
                <td>CT550</td>
                <td>100</td>
                <td>0</td>
                <td>11122334</td>
                <td>Luận văn tốt nghiệp - CNTT</td>
                <td>CT55001</td>
                <td><button class="centered-button">Đăng ký</button></td>
            </tr>

            <tr>
                <td>1</td>
                <td>01</td>
                <td>CT550</td>
                <td>100</td>
                <td>0</td>
                <td>11122334</td>
                <td>Luận văn tốt nghiệp - CNTT</td>
                <td>CT55001</td>
                <td><button class="centered-button">Đăng ký</button></td>
            </tr>
            <tr>
                <td>1</td>
                <td>01</td>
                <td>CT550</td>
                <td>100</td>
                <td>0</td>
                <td>11122334</td>
                <td>Luận văn tốt nghiệp - CNTT</td>
                <td>CT55001</td>
                <td><button class="centered-button">Đăng ký</button></td>
            </tr>
            <!-- Thêm dữ liệu cho các hàng khác của bảng tại đây -->
        </table>

</body>
<app-footer></app-footer>