<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-lg-between">
        <h1 class="logo me-auto me-lg-0">
            <a href="index.html">QUẢN LÝ LUẬN VĂN</a>
        </h1>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Trang chủ</a></li>
                <li>
                    <a class="nav-link scrollto" routerLink="/topic">Đăng ký đề tài</a>
                </li>
                <li><a class="nav-link scrollto" routerLink="/report_calendar" href="#portfolio">Lịch báo cáo</a></li>
                <li><a class="nav-link scrollto" routerLink="/faculty-board" href="#contact">Liên hệ giảng viên</a></li>
                <li>
                    <!-- <a class="nav-link scrollto" style="cursor: pointer" (click)="handleLogout()">Thoát</a> -->
                    <a href="">Thoát</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
    </div>
</header>
<!-- End Header -->