<!-- biên bản kết quả sinh sinh viên  -->

<body>
    <div class="container">
        <div class="layout">
            <header>
                <div class="school1">
                    <p>TRƯỜNG ÐẠI HỌC CẦN THƠ</p>
                    <p>TRƯỜNG CNTT & TT</p>
                    <p>_________</p>
                </div>
                <div class="school2">
                    <p>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
                    <p>Ðộc Lập - Tự Do - Hạnh Phúc</p>
                    <p>__________</p>
                </div>

            </header>
            <div class="boder">
                <h1>BIÊN BẢN CỦA HỘI ĐỒNG</h1>
                <h1>CHẤM BẢO VỆ LUẬN VĂN ĐẠI HỌC</h1>
                <h1>Học kỳ: 1 năm học 2023 - 2024</h1>
                <h2>Ngành/ Chuyên ngành: (đỗ dữ liệu vào)</h2>
                <p>____________</p>
            </div>

            <!-- <h1 class="topic">TÊN ĐỀ TÀI: </h1> -->

            <div class="info">

                <div class="info3">
                    <p>Họ và tên sinh viên thực hiện: </p>
                    <p>MASV:........ Mã lớp:.......</p>
                    <P>Giáo viên hướng dẫn: </P>
                    <p>Tên đề tài</p>
                    <p>Địa điểm bảo vệ: </p>
                    <p>Thời gian lúc: ..... ngày ...... tháng ...... năm 2023</p>
                </div>

                <!-- <div class="info2">
                <p>MSSV: </p>
                <P>MSCB: </P>
                <p>Thời gian kết thúc báo cáo: </p>
            </div> -->
            </div>
            <!-- nội dung  -->
            <div>
                <h3><b>1. Tuyên bố lý do</b></h3>
                <p>Căn cứ vào Quyết định số /QĐ-CNTT&TT ngày / / của Hiệu trưởng Trường CNTT&TT, trường Đại học
                    Cần
                    Thơ về việc thành lập Hội đồng chấm Luận văn tốt nghiệp ngành/chuyên ngành Công nghệ thông tin
                    gồm
                    các thành viên:</p>
                <div class="prosor">
                    <p>1: Chủ tịch Hội đồng: </p>
                    <p>2: Ủy viên: </p>
                    <p>3: Thư ký: </p>
                </div>
                <h3><b>Chủ tịch Hội đồng, điều khiển buổi bảo vệ luận văn</b></h3>
                <h3><b>2.1 Sinh viên: </b>trình bày luận văn</h3>
                <div>
                    <h3><b>2.2 Các câu hỏi của thành viên hội đồng và trả lời sinh viên:</b></h3>
                    <input type="text" style="height: 100px;">
                </div>
                <div>
                    <h3><b>2.3 </b> Góp ý của thành viên hội đồng:</h3>
                    <input type="text" style="height: 100px;">
                </div>
                <div>
                    <h3><b>2.4 </b> Nhận xét ý kiến của người hướng dẫn:</h3>
                    <input type="text" style="height: 100px;">
                </div>

                <div>
                    <h3><b>2.5 </b> Tổng hợp điểm của hội đồng</h3>
                    <p>Điểm số: </p>

                    <section class="content">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Thành viên:
                                    </th>
                                    <th>
                                        Chủ tịch
                                    </th>
                                    <th>
                                        Ủy viên
                                    </th>
                                    <th>
                                        Thư ký
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Điểm/10
                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </section>
                    <p class="mark">Trung bình: điểm số ................/10, điểm chữ:
                        ...................................................</p>
                </div>

                <div>
                    <h3><b>2.6 Kết luận của Hội đồng:</b></h3>
                    <div class="kl">
                    <p>Luận văn của sinh viên ........... đạt (Không đạt) yêu cầu.</p>
                    <p>Điểm: </p>
                    </div>
                </div>

                <div class="kl1">
                    <p>Hội đồng kết thúc vào lúc ........... cùng ngày.
                    </p>
                </div>

            </div>
            <div class="info">
                <div class="info1">
                    <p>Chủ tịch hội đồng</p>
                </div>
                <div class="info2">
                    <p>Cần Thơ, ngày ….. tháng …. năm …</p>
                    <p>Thư ký hội đồng</p>
                </div>
            </div>


        </div>
    </div>
</body> 