<app-header></app-header>

<body>
    <div class="report_calendar">
        <div class="semester">
            <label for="">Khoa: </label>
            <select id="">
                <option value="1">Khoa Công nghệ thông tin</option>
                <option value="2">Khoa Truyền thông đa phương tiện</option>
                <option value="3">Khoa Khoa học máy tính</option>
                <option value="4">Khoa Công nghệ phần mềm</option>
                <option value="5">Khoa Hệ thống thông tin</option>
                <option value="6">Khoa Mạng máy tính và truyền thông dữ liệu</option>
                <!-- Thêm các tùy chọn khác cho học kỳ tại đây -->
            </select>
            <label for="year">Năm học:</label>
            <select name="" id="">
                <option value="1">Năm 2022 - 2023</option>
                <option value="2">Năm 2023 - 2024</option>
            </select>
            <label for="">Phòng: </label>
            <select id="">
                <option value="1">LT101</option>
                <option value="2">LT102</option>
                <option value="3">LT103</option>
            </select>
            <!-- <label for="room">Phòng báo cáo: </label> -->
            <!-- <label for="calender">Ngày: </label> -->
            <button class="button_tim">Tìm</button>

            <div class="time">
                <label for="">Ngày: </label>
                <label for="">Giờ bắt đầu: </label>
                <label for="">Giờ kết thúc: </label>
            </div>
        </div>

    </div>
    <div class="">
        <h1>Lịch báo cáo luận văn</h1>

        <table>
            <tr>
                <th>STT</th>
                <th>Mã số sinh viên</th>
                <th>Họ tên sinh viên</th>
                <th>Giảng viên hướng dẫn</th>
                <th>Đề tài</th>
                <th>Hội đồng</th>
            </tr>
            <tr>
                <td>1</td>
                <td>B1910191</td>
                <td>Nguyễn Huy Bình</td>
                <td>Thái Minh Tuấn</td>
                <td>Hệ thống quản lý lịch báo cáo luận văn tốt nghiệp</td>
                <td><button class="button_register">Xem</button></td>
            </tr>
            <tr>
                <td>1</td>
                <td>B1910191</td>
                <td>Nguyễn Huy Bình</td>
                <td>Thái Minh Tuấn</td>
                <td>Hệ thống quản lý lịch báo cáo luận văn tốt nghiệp</td>
                <td>A B C</td>
            </tr>
            <tr>
                <td>1</td>
                <td>B1910191</td>
                <td>Nguyễn Huy Bình</td>
                <td>Thái Minh Tuấn</td>
                <td>Hệ thống quản lý lịch báo cáo luận văn tốt nghiệp</td>
                <td>A B C</td>
            </tr>
            <!-- Thêm dữ liệu cho các hàng khác của bảng tại đây -->
        </table>
    </div>
</body>
<app-footer></app-footer>