<app-header></app-header>

<body>
    <!-- <div class="report_calendar">
        <div class="semester">
            <label for="">Khoa: </label>
            <select id="">
                <option value="1">Khoa Công nghệ thông tin</option>
                <option value="2">Khoa Truyền thông đa phương tiện</option>
                <option value="3">Khoa Khoa học máy tính</option>
                <option value="4">Khoa Công nghệ phần mềm</option>
                <option value="5">Khoa Hệ thống thông tin</option>
                <option value="6">Khoa Mạng máy tính và truyền thông dữ liệu</option>
            </select>
            <label for="year">Năm học:</label>
            <select name="" id="">
                <option value="1">Năm 2022 - 2023</option>
                <option value="2">Năm 2023 - 2024</option>
            </select>
            <label for="">Phòng: </label>
            <select id="">
                <option value="1">LT101</option>
                <option value="2">LT102</option>
                <option value="3">LT103</option>
            </select>
            <button class="button_tim">Tìm</button>

            <div class="time">
                <label for="">Ngày: </label>
                <label for="">Giờ bắt đầu: </label>
                <label for="">Giờ kết thúc: </label>
            </div>
        </div>

    </div> -->

    <div class="topp">
        <div class="report_calendar">
            <h1>Lịch báo cáo luận văn</h1>
            <section>
                <span>__________________</span>
                <p>Học kỳ: | Năm học: </p>
            </section>

            <section>

            </section>


            <table>
                <tr>
                    <th>STT</th>
                    <th>Mã nhóm báo cáo</th>
                    <th>Môn học phần</th>
                    <th>Tuần</th>
                    <th>Thứ</th>
                    <th>Tiết</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BC001</td>
                    <td>Báo cáo luận văn tốt nghiệp - CNTT - Nhóm 1</td>
                    <td>Tuần 18</td>
                    <td>Thứ 7</td>
                    <td>Tiết 123</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BC001</td>
                    <td>Báo cáo luận văn tốt nghiệp - CNTT - Nhóm 1</td>
                    <td>Tuần 18</td>
                    <td>Thứ 7</td>
                    <td>Tiết 123</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BC001</td>
                    <td>Báo cáo luận văn tốt nghiệp - CNTT - Nhóm 1</td>
                    <td>Tuần 18</td>
                    <td>Thứ 7</td>
                    <td>Tiết 123</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BC001</td>
                    <td>Báo cáo luận văn tốt nghiệp - CNTT - Nhóm 1</td>
                    <td>Tuần 18</td>
                    <td>Thứ 7</td>
                    <td>Tiết 123</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BC001</td>
                    <td>Báo cáo luận văn tốt nghiệp - CNTT - Nhóm 1</td>
                    <td>Tuần 18</td>
                    <td>Thứ 7</td>
                    <td>Tiết 123</td>
                </tr>
                <!-- Thêm dữ liệu cho các hàng khác của bảng tại đây -->
            </table>
        </div>
    </div>
</body>
<app-footer></app-footer>