<app-header></app-header>

<div class="body">

    <div class="topp">
        <div class="report_calendar">
            <h1>LỊCH BÁO CÁO LUẬN VĂN TỐT NGHIỆP</h1>
            <section>
                <span>__________________</span>
                <!-- <p *ngFor="let tc of semesters">Học kỳ: {{ tc.semester.semester }} | Năm học: {{ tc.semester.schoolYear }}</p> -->
                <p><b>Học kỳ:</b> 1 | <b>Năm học: </b>2023-2024</p>
            </section>

            <section>

            </section>


            <table>
                <tr>
                    <th>STT</th>
                    <th>MSGV</th>
                    <th>Giảng viên hướng dẫn</th>
                    <th>Lịch báo cáo</th>
                    <th>DS sinh viên</th>
                    <th>Giảng viên hội đồng</th>
                </tr>
                <tr *ngFor="let tcs of teachingSchedules; let i = index">
                    <td>{{ i + 1}}</td>
                    <td>{{ tcs.addGroupStudent.groupStudent.teacher.numberTeacher}} </td>
                    <td>{{ tcs.addGroupStudent.groupStudent.teacher.name}} </td>
                    <td>
                        Phòng {{ tcs.calender.room}},
                        Tuần {{ tcs.calender.week}},
                        Thứ {{ tcs.calender.thu}},
                        Ngày {{ tcs.calender.day}},
                        {{ tcs.calender.period}}
                    </td>
                    <td>{{ tcs.addGroupStudent.student.name}}</td>
                    <td style="font-weight: 100; ">
                        <p>TS. Thái Minh Tuân</p>
                        <p>TS. Phạm Thế Phi</p>
                        <p>Ths. Nguyễn Minh Trung</p>
                    </td>
                </tr>

                <!-- Thêm dữ liệu cho các hàng khác của bảng tại đây -->
            </table>
            <p *ngFor="let agt of addGroupStudents" >{{ agt.student.numberStudent }}, {{ agt.student.name}}</p> 
        </div>
    </div>
</div>
<app-footer></app-footer>