<app-header></app-header>
<!-- đăng ký đề tài -->

<body>
    <div class="register_topic">

         <div></div>
        <div class="semester">
            <label for="">Giảng viên hướng dẫn: </label>
            <select name="" id="">
                <option value="1">TS Thái Minh Tuấn</option>
                <option value="2">ThS Trần Minh Tân</option>
            </select>
            <label for="">Đề tài: </label>
            <input type="text" class="custom-input">
            <!-- <label for=""></label> -->
            <button>Gửi</button>

        </div>
    </div>

</body>
<app-footer></app-footer>