<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8 text-center">
        <h1>HỆ THỐNG QUẢN LÝ LUẬN VĂN TỐT NGHIỆP</h1>
        <h2>Giúp bạn quản lý nghiên cứu một cách hiệu quả</h2>
      </div>
    </div>

    <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
      <div class="col-xl-2 col-md-4">
        <div class="icon-box">
          <i class="ri-book-line"></i>
          <h3><a href="#">Quản lý đề tài</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box">
          <i class="ri-calendar-check-line"></i>
          <h3><a href="#">Quản lý xếp lịch</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box">
          <!-- <i class="ri-group-line"></i> -->
          <i class="ri-chat-check-line"></i>

          <h3><a href="#">Nhận xét và đánh giá</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box">
          <i class="ri-time-line"></i>
          <h3><a href="#">Tiết kiệm thời gian</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box">
          <i class="ri-lock-line"></i>
          <h3><a href="#">Bảo mật thông tin</a></h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="../../assets/imgs/cict_ctu.jpg" class="img-fluid" alt="" />


        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>Nghiên cứu khoa học - Khám phá tri thức và sáng tạo mới.</h3>
          <p class="fst-italic">
            Hãy cùng chúng tôi trải nghiệm cuộc hành trình nghiên cứu đầy thách thức.
          </p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> Hệ thống hỗ trợ nghiên cứu, đảm bảo bạn có tất cả công cụ cần thiết
              để khám phá tri thức một cách hiệu quả và cùng sáng tạo.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Cung cấp nguồn tài liệu và dịch vụ thư viện, kết nối bạn với nguồn
              thông tin toàn cầu và giúp bạn nâng cao năng lực nghiên cứu.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Vị trí trạm dừng tuyệt vời cho sự tiến bộ nghiên cứu của bạn, gần các
              nguồn tài nguyên quan trọng và sự hỗ trợ từ cộng đồng nghiên cứu.
            </li>
          </ul>
        </div>

      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="image col-lg-6" style="
            background-image: url('../../assets/imgs/CTU_1.jpg');
          " data-aos="fade-right"></div>
        <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
          <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-receipt"></i>
            <h4>Quản lý lịch luận văn hiệu quả</h4>
            <p>
              Hệ thống quản lý lịch báo cáo luận văn tốt nghiệp tối ưu hóa thời gian và nguồn lực, từ việc đăng ký đề
              tài đến saows xếp lịch hiểu quả.
              <!-- Hệ thống quản lý lịch luận văn giúp bạn tối ưu hóa thời gian và nguồn lực, từ việc đăng ký đề tài đến lên kế hoạch nghiên cứu.  -->
            </p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-cube-alt"></i>
            <!-- <h4>Tích hợp giao tiếp và hợp tác</h4> -->
            <h4>Quản lý đề tài hiệu quả</h4>
            <p>
              <!-- Hệ thống giúp sinh viên tương tác và hợp tác với giảng viên, cộng đồng nghiên cứu, và đồng học để thúc đẩy sự phát triển nghiên cứu. -->
              Hệ thống giúp sinh viên tối ưu hóa việc đăng ký đề tài, giảng viên hổ trợ gợi ý nhiều đề tài mới mẻ để
              sinh viên có thể sáng tạo.
            </p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-detail"></i>
            <h4>Dễ dàng quản lý lịch trình</h4>
            <p>
              Hệ thống cung cấp tiện ích quản lý lịch trình linh hoạt, giúp bạn dễ dàng theo dõi và điều chỉnh thời gian
              làm việc trên luận văn của mình.
            </p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-shield"></i>
            <h4>Hỗ trợ và dịch vụ đặc biệt</h4>
            <p>
              Đội ngũ hỗ trợ chuyên nghiệp sẵn sàng giúp bạn với mọi vấn đề liên quan đến luận văn và quản lý lịch trình
              nghiên cứu.
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Features Section -->

  <!-- ======= Services Section ======= -->
  <!-- dịch vụ cung cấp trong hệ thống -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Dịch vụ</h2>
        <p>Các dịch vụ của chúng tôi</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-pencil"></i></div>
            <h4><a href="#">Đăng ký đề tài</a></h4>
            <p>
              Sinh viên có thể đăng ký đề tài mà sinh viên tự nghĩ ra hoặc lựa chọn từ các đề tài gợi ý của giảng viên
              trong hệ thống đăng ký đề tài.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-calendar"></i></div>
            <h4><a href="#">Xếp lịch báo cáo</a></h4>
            <p>
              Hệ thống xếp lịch báo cáo cho sinh viên, hệ thống sẽ thông báo cho sinh viên và giảng viên về lịch báo cáo
              khi hệ thống đã xử lý thành công.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-edit"></i></div>
            <h4><a href="#">Nhận xét</a></h4>
            <p>Giảng viên và cán bộ hồi đồng chấm báo cáo sẽ nhận xét về luận văn sinh viên, góp ý để sinh viên hoàn
              chỉnh đồ án mình hơn.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-star"></i></div>
            <h4><a href="#">Đánh giá kết quả</a></h4>
            <p>
              Giảng viên và cán bộ hồi đồng đánh giá kết quả đồ án luận văn của sinh viên, kết quả sẽ được hệ thống tổng
              hợp và xử lý hoàn thành sẽ thông báo kết quả sinh viên.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-help-circle"></i></div>
            <h4><a href="#">Hỗ trợ khác</a></h4>
            <p>
              Hỗ trợ và dịch vụ khác liên quan đến nghiên cứu và luận văn.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- End Services Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
      <div class="text-center">
        <h3>Lợi ích khi sử dụng hệ thống quản lý lịch luận văn</h3>
        <p>
          Tiết kiệm thời gian và công sức, quản lý lịch luận văn hiệu quả, tích hợp giao tiếp và hợp tác, dễ dàng quản
          lý lịch trình, hỗ trợ và dịch vụ đặc biệt, làm quen với quá trình nghiên cứu, vị trí thuận lợi, môi trường học
          tập tốt.
        </p>
        <a class="cta-btn" href="#">Bắt đầu quản lý lịch luận văn</a>
      </div>
    </div>
  </section>

  <!-- End Cta Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Hình ảnh</h2>
        <p>HÌNH ẢNH VỀ ĐẠI HỌC CẦN THƠ</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="../../assets/imgs/CTU/B1.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="../../assets/imgs/CTU/C1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="../../assets/imgs/CTU/CNC.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="../../assets/imgs/CTU/DK.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="../../assets/imgs/CTU/KH2.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="../../assets/imgs/CTU/KT.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="../../assets/imgs/CTU/KT.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="../../assets/imgs/CTU/NDH.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="../../assets/imgs/CTU/NDH1.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="../../assets/imgs/CTU/NN.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="../../assets/imgs/CTU/PH.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="../../assets/imgs/CTU/NDH.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  title="App 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="../../assets/imgs/CTU/PH2.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="../../assets/imgs/CTU/PH4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="../../assets/imgs/CTU/VB.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="../../assets/imgs/CTU/XH&NV.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="../../assets/imgs/CTU/XH&NV.jpg" class="img-fluid" alt="" />
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="../../assets/imgs/CTU/XH&NV.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Liên hệ với chúng tôi</h2>
        <p>Liên hệ với chúng tôi</p>
      </div>

      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.841454377122!2d105.76804037486137!3d10.029938972519219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0895a51d60719%3A0x9d76b0035f6d53d0!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBD4bqnbiBUaMah!5e0!3m2!1svi!2s!4v1693705567132!5m2!1svi!2s"
          style="border: 0; width: 100%; height: 270px" allowfullscreen loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="row mt-5">
        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Địa chỉ:</h4>
              <p>
                Đường 3/2, phường Xuân Khánh, quận Ninh Kiều, thành phố Cần Thơ
              </p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>ThesisTrack@gmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Số điện thoại:</h4>
              <p>0359300359</p>
            </div>
          </div>
        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">
          <img class="php-email-form" src="../../assets/imgs/CTU.jpg" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->
<app-footer></app-footer>