<app-header></app-header>

<body>
    <div class="container">
        <div class="faculty">
            <div class="semester">
                <label for="">Khoa: </label>
                <select id="">
                    <option value="1">Khoa Công nghệ thông tin</option>
                    <option value="2">Khoa Truyền thông đa phương tiện</option>
                    <option value="3">Khoa Khoa học máy tính</option>
                    <option value="4">Khoa Công nghệ phần mềm</option>
                    <option value="5">Khoa Hệ thống thông tin</option>
                    <option value="6">Khoa Mạng máy tính và truyền thông dữ liệu</option>
                    <!-- Thêm các tùy chọn khác cho học kỳ tại đây -->
                </select>
                <label for="year">Năm học:</label>
                <select name="" id="">
                    <option value="1">Năm 2022 - 2023</option>
                    <option value="2">Năm 2023 - 2024</option>
                </select>
                <button>Tìm</button>
            </div>

            <!-- Tìm kiếm học phần
        <div class="search">
            <label for="course-code">Mã học phần:</label>
            <input type="text" id="course-code">
            <button>Tìm</button>
        </div>

        Thông tin học phần
        <div class="course-info">
            <p>Tên học phần:</p>
            <p>Tín chỉ:</p>
        </div> -->
        </div>
        <h1>Danh sách giảng viên nhận hướng dẫn luận văn</h1>
        <table>
            <tr>
                <th>STT</th>
                <th>Học tên giảng viên</th>
                <th>Bộ môn</th>
                <th>Số lượng</th>
                <th>Còn lại</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <!-- <th>Thao tác</th> -->
            </tr>
            <tr>
                <td>1</td>
                <td>01</td>
                <td>CT550</td>
                <td>100</td>
                <td>0</td>
                <td>11122334</td>
                <td>Luận văn tốt nghiệp - CNTT</td>
                <!-- <td><button>Đăng ký</button></td> -->
            </tr>

            <tr>
                <td>1</td>
                <td>01</td>
                <td>CT550</td>
                <td>100</td>
                <td>0</td>
                <td>11122334</td>
                <td>Luận văn tốt nghiệp - CNTT</td>
            </tr>
            <tr>
                <td>1</td>
                <td>01</td>
                <td>CT550</td>
                <td>100</td>
                <td>0</td>
                <td>11122334</td>
                <td>Luận văn tốt nghiệp - CNTT</td>
            </tr>
            <!-- Thêm dữ liệu cho các hàng khác của bảng tại đây -->
        </table>
    </div>
</body>
<app-footer></app-footer>